:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --border-gold: #8b7355;
  --border-gold-bright: #d4af37;
  --primary: #0D1117;
  --secondary: #161B22;
  --border: #30363D;
  --headers: #E6EDF3;
  --text: #8B949E;
  --accent-blue: #58A6FF;
  --accent-silver: #C9D1D9;

  --shadow-heavy: 0 10px 20px rgba(0,0,0,0.8);
  --glass-blur: blur(8px);
  --sidebar-width: 260px;
  --header-height: 60px;
  --transition: 0.3s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glow{
  box-shadow: 0 0 15px rgba(88, 166, 255, 0.5);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', serif;
  background: var(--primary);
  color: var(--text);
}
h1,h2,h3,h4,h5,h6{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: linear-gradient(#1F6FEB,#58A6FF);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  filter: drop-shadow(0 0 5px rgba(78, 201, 255, 0.5));;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}