/* Подсветка текущего персонажа (SELF) */
.mainCharacter {
    justify-content: center ;
  border-color: var(--border-gold-bright) !important;
  box-shadow: 0 0 15px rgba(212, 175, 55, 0.3);
  background: linear-gradient(135deg, var(--secondary) 0%, #1a150a 100%);
}

.avatarContainer {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-gold);
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  color: var(--headers);
  font-family: serif;
  font-weight: bold;
  display: block;
}

.role {
  color: var(--text);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}